.DS_Store
*.log
error_log
wp-content/themes/**/.sass-cache
node_modules
wp-content/themes/**/*.css.map
wp-content/advanced-cache.php
wp-content/cache
wp-content/db.php
wp-content/object-cache.php
wp-content/upgrade
wp-content/w3tc-config

# Ignore everything in wp-content except plugins and themes
wp-content/*
!wp-content/plugins
!wp-content/themes

# Ignore all plugins except the ones you specify
wp-content/plugins/*
!wp-content/plugins/custom-post-type-boilerplate

# Ignore all themes except the ones you specify
wp-content/themes/*
!wp-content/themes/recipes