.DS_Store
*.log
error_log
.sass-cache
node_modules
*.css.map
sitemap.xml
sitemap.xml.gz
/readme.html
/license.txt
wp-content/advanced-cache.php
wp-content/cache/
wp-content/upgrade/

# Ignore everything in wp-content except plugins and themes
wp-content/*
!wp-content/plugins
!wp-content/themes

# Ignore all plugins except the ones you specify
wp-content/plugins/*
!wp-content/plugins/custom-post-type-boilerplate

# Ignore all themes except the ones you specify
wp-content/themes/*
!wp-content/themes/nucleus