# Ignore files that don't need tracking
.DS_Store
.error_log
*Thumbs.db
*.sql
index.php
sitemap.*
wp-config.php

# Ignore everything in wp-content except plugins and themes
wp-content/*
!wp-content/plugins
!wp-content/themes
!wp-content/uploads

# Ignore all plugins except the ones you specify
wp-content/plugins/*
# !wp-content/plugins/custom-post-type-boilerplate

# Ignore all themes except the ones you specify
wp-content/themes/*
# !wp-content/themes/my-theme

wp-content/uploads/*
!wp-content/uploads/.htaccess
